.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#008001;
    align-items: center;
    padding: 20px 0px;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    position: fixed;
    width: 100%;

    
}

ul{
    display: flex;
    justify-content: center;
    gap:60px;
}

ul li{
    list-style: none;
    color:white;
}

ul a{
    text-decoration: none;
}

*{
    padding:0px;
    margin:0px;
}

#fruitshop{
    color:white;
    letter-spacing: 5px;

}

.background{
    width:100%;
    height:500px;
    background-image: url("../Assets/backgroundfruit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

.background h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    text-shadow: 3px 3px 3px black;
}

.background button{
    margin-top: 25px;
    padding:12px 30px;
    border:none;
    border-radius: 8px;
    background-color: white;
    color:green;
    font-weight: 600;
    
}

.fruitbasket{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    gap:60px;
    
}

.fruitbasket img{
    width:350px;
}

.fruitbasket h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    color:green;
    margin-bottom: 20px;
}

.fruitbasket p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    
}

.fruits{
    width:200px;
    height:250px;
    border:1px none;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color:green;
    font-weight: 600;
    margin:10px;
    background-color: white;



}

.fruits img{
    width:100px;
    height:100px;
}

.fruits button{
        color:green;
        border:3px solid green;
        background-color: white;
        padding:5px;
        border-radius: 10px;
        

}

.fruitcards{
    display: flex;
    justify-content: center;
    
}

.products h1{
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px black;
    color: white;
}



.products{

    width:100%;

    height: 350px;
    background-color: #00ff01;
    
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    padding-top: 10px;
    
}

.reviews{

    width:300px;
    height:100px;
    background-color:  #00ff01;
    margin: 8px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    gap:10px;
    color:white;

}

.reviews img{
    width:100px;
    border-radius: 50%;
}

.customer{
    display:flex;
    justify-content: center;
}

#our{
    color:green;
    font-weight: 600px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}


.a{
    display: flex;
    justify-content: start;
    gap:60px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: bold;
}

.one{
    color:white;
    font-size: 30px;
}

.two img{
     width:150px;
     height:150px;
    
}

.b{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:60px;
  
}

.b h2{
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: bold;
}

.three{
    color:white;
    order:1;
}

.four img{
    width:100px;
    height:100px;

}

.c{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:60px;
}

.c h2{
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: bold;
}
.five{
    color:white;
}

.six img{
    width:100px;
    height:100px;
}

.d{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:60px;


}

.d h2{
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: bold;
}

.seven{
    color:white;
    order:1;
}

.eight img{
    width:100px;
    height:100px;

}

.outer{
    width:45%;
    height:500px;
    border: 1px none;
    background-color:#31cc32;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    padding: 15px;
    margin:20px;
}

.hello{
    display: flex;
    justify-content: center;
    
}

.child img{
    width:100px;
    height:100px;
    margin: 15px;
    
}

.hi{
    width:70%;
    height:100px;
    border:3px solid green;
    padding: 30px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    
}

.hi:hover{
    background-color:green;

}

.footer{
    background-color:#32cd33;
    margin-top: 5px;
    text-align: center;
    color:white;
    padding: 10px;
}



























